*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

footer{
    background-color: black;
    height: 90px;
}

h5{
    color: white;
    font-size: 15px;
}

.navigatore{
    background-color: orange;
    height: 70px;
}

.container{
    width: 80%;
    margin: auto;
}

.right{
    align-items: flex-end;
}

.flex{
    display: flex;
}

.row_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.row_main{
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}

.row_footer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.categoria{
    
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
.logo{
     width: 140px;
}

.icons{
    color: white;
    padding-left: 10px;
    
}
.just_end{
    justify-content:flex-end;
}

/* Start Main */

.grid{
    padding-top: 70px;
}

.card{
    position: relative;
    z-index: 0;
}


.blocco_img{
    position: relative;
}

.products{
    width: 100%;
    
}

.badge_love{
    background-color: white;
    width: 50px;
    height: 50px;
    justify-content: center;
    position: absolute;
    top: 5px;
    right: 0px;
}
.cuore:hover {
    color:red;
}

.cuore{
    align-self: center;
}

.badge_discount{
    background-color: red;
    color: white; 
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 0px;
    padding: 6px;
}

.badge_sostenibilita{
    background-color: green;
    color: white; 
    justify-content: center;
    position: absolute;
    bottom: 40px;
    left: 50px;
    padding: 6px;

}

.new_price{
    color: red;
    font-weight: 600;
}

.old_price{
    text-decoration: line-through;
}

.blocco_img:hover .products_hover {
    display: block;
}

.products_hover{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.card:hover {
    cursor: pointer;
}

/* End Main */

/* Footer */
.link_utili{
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 10px;
}
.link_social{
    color: white;
    padding-right: 5px;
    padding-top: 5px;
    text-decoration: none;
    font-size: 20px;
}

.titolo_social{
    font-size: 10px;
    padding-right: 30px;

}
/* Start Column */
.col_3{
    width: calc((100% / 12)*3);
    height: 70px;
    align-items: center;
   
}

.col_6{
    width: calc((100% / 12)*6);
    height: 70px;
    align-items: center;
    justify-content: center;
}

.col_6_footer{
    width: calc((100% / 12)*6);
    height: 90px;
    justify-content: center;
    flex-direction: column;
}



.col_4{
    width: calc(((100% / 12)*4) - 20px);
    padding-top: 55px;
    padding-bottom: 50px;
    column-gap: 10px;
}

/* End Column */